# {{ ansible_managed }}
# Servers
{% for server in ntp_config_server %}
server {{ server }} iburst
{% endfor %}

# Peers
{% for peer in ntp_config_peer %}
peer {{ peer }}
allow {{ peer }}
{% endfor %}

# Key file
keyfile /etc/chrony/chrony.keys

# Command access
commandkey 1

# Drift file
driftfile /var/lib/chrony/chrony.drift

# Logging
log tracking measurements statistics
logdir /var/log/chrony

# Stop bad estimates upsetting machine clock.
maxupdateskew 100.0

# Dump details
dumponexit
dumpdir /var/lib/chrony

# This directive forces `chronyd' to send a message to syslog if it
# makes a system clock adjustment larger than a threshold value in seconds.
logchange 0.5

# This directive tells 'chronyd' to parse the 'adjtime' file to find out if the
# real-time clock keeps local time or UTC. It overrides the 'rtconutc' directive.
hwclockfile /etc/adjtime

# This directive enables kernel synchronisation (every 11 minutes) of the
# real-time clock. Note that it can’t be used along with the 'rtcfile' directive.
rtcsync
