# {{ ansible_managed }}
driftfile {{ ntp_config_driftfile }}

statistics loopstats peerstats clockstats
filegen loopstats file loopstats type day enable
filegen peerstats file peerstats type day enable
filegen clockstats file clockstats type day enable

{% for server in ntp_config_server %}
server {{server}} iburst
{% endfor %}
{% for peer in ntp_config_peer %}
{% if ansible_eth0.ipv4.address != peer %}
peer {{peer}} iburst
{% endif %}
{% endfor %}

# By default, exchange time with everybody, but don't allow configuration.
restrict -4 default kod notrap nomodify nopeer noquery
restrict -6 default kod notrap nomodify nopeer noquery

# Local users may interrogate the ntp server more closely.
restrict 127.0.0.1
restrict ::1
